@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.input-lg {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background-color: #f3f4f6; /* Tailwind’in bg-gray-200 rengi */
  border: 1px solid #d1d5db;
  border-radius: 8px;
  appearance: none; /* Yukarı-aşağı okları kaldırır */
}
